body {
  position: relative;
  background: url(../../assets/watchagot-background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.lp1 > img {
  width: 390px;
  box-shadow: 13px 13px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 120px;
}

#wrapper {
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrapper > div {
    flex: 1 0 21%;
}







