<span class="meow">
  <div class="recSearch">
    <h2>Whatcha Got Homie:</h2>
    <input (keyup.enter)="bang(thing.value)" [(ngModel)]="in_food" type="text" #thing class="myBox" />
    <button (click)="bang(thing.value)" class="myButt">Add</button><br />
  </div>
</span>

<tbody>
  <tr *ngFor="let food of foods; let i = index" class="foods">
    <td class="food"><button (click)="delete(food)">X</button>{{food}}</td>
  </tr>
</tbody>
<br />

<div class="sButts">
  <button (click)="submitList()" class="sButts">submit</button>
</div>
<br />
<p>How many recipes you want:</p>
<input list="amount" type="text" [(ngModel)]="sAmount">
<datalist id="amount">
  <option value="10">
  <option value="20">
  <option value="30">
  <option value="40">
  <option value="50">
</datalist>



<hr />

  <tbody class="recList" *ngIf="recipes">
    <tr><h2><u>Recipie Results: </u></h2></tr>
    <tr *ngFor="let recipe of recipes; let i = index" (click)="getRecipe(recipe.id)">
      <td class="resItem">
        <u>{{recipe.title}}</u>
        <br />
        <hr />
        missed ingredients: {{recipe.missedIngredientCount}}
      </td>
  </tbody>

<tbody style="display:block;">
  <tr (click)="getRecipe(recipe.id)"></tr>
</tbody>
<hr />

<span *ngIf="recipeInfos">
  <h2><u>Recipie Result</u></h2>
</span>

<tbody *ngIf="recipeInfos">
  <tr>
    <span>Title: </span>
    <td> {{recipeInfos.title}}</td>
  </tr>

  <tr *ngFor="let obj of extendIngreds; let i = index">
    <td></td>
    <td class="ingreds">
      <span *ngIf="obj.aisle == 'Spices and Seasonings'">
        -{{obj.name}}
      </span>
      <span *ngIf="obj.aisle != 'Spices and Seasonings'">
        -{{obj.original}}
      </span>
    </td>
  </tr>
</tbody>

<tbody *ngIf="recipeInfos">
  <tr>
    Instructions: {{doit}}
  </tr>
</tbody>


