body {
  width: 100%;
}

.boxOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*min-height: 100vh;*/
}

.bottomPic {
  margin: 0 auto;
  background-color: #fafafa;
  display: block;
  height: auto;
  z-index: -1;
}

.everythingBox {
  margin: 0 auto;
  background-size: cover;
  background-image: url("../../assets/myRecipe-background.jpg");
  display: block;
  height: 30em;
  border-bottom: 1px solid #333333;
  margin-bottom: 40px;
}

.title{
    text-align: center;
    color: white;
    padding: 10px
}

.adding {
  align-content: center;
  margin: 50px;
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 50%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: black;
}

  .form-control {
    border: 3px solid #fff;
    padding: 25px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    border-radius: 30px;
    text-align: left;
    transition: all 0.4s ease;
    margin: 5px;
  }

.myButt {
  width: 50%;
  margin: 10px;
  border-radius: 20px;
  background-color: #FF0036;
  padding: 10px;
  font-size: 18px;
  color: white;
}

  .myButt:hover {
    background: #A30022;
    font-weight: 600;
  }

.table td, .table th {
  padding: 0.75rem;
  vertical-align: middle!important;
  border-top: 1px solid black!important;
}

.table-bordered td, .table-bordered th {
  border: 1px solid black!important;
}



.table-bordered td, .table-bordered th {
  border: 1px
}



.table-responsive {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: separate;
}

/*  .table-responsive table {
    border-radius: 4px 4px 4px 4px;
  }*/

.editIcon {
  width: 50%;
  margin-right: 50%;
/*  margin-left: 50%;*/
  padding: 20px;
  border: none;
  background-color: none;
  background-image: url("../../assets/edit-icon.png");
  background-repeat: no-repeat;
  background-size: 2.3em 2.3em;
}

.deleteIcon {
  width: 50%;
  margin-right: 50%;
/*  margin-left: 50%;*/
  padding: 20px;
  border: none;
  background-color: none;
  background-image: url("../../assets/trash-icon.png");
  background-repeat: no-repeat;
  background-size: 2.3em 2.3em;
}

.saveIcon {
  width: auto;
  border-radius: 20px;
  background-color: #FF0036;
  padding: 10px;
  font-size: 18px;
  color: white;
}

.saveIcon:hover {
  background: #A30022;
  font-weight: 600;
}
